<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>

</head>

<body>

    {{>inheader}}

    <div class="form-area col-lg-12" >

        <div class="col-lg-11" >

            <h4 class="col-lg-12" style="text-align: center;">{{title}}</h4>

            <div id="assignments" style="height: 300px;">

                <table>

                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Score</th>
                        <th>Date</th>
                        <th>submit</th>
                        <th>Score</th>
                    </tr>

                    {{#each data}}
                    <tr>
                        <td>{{this.Title}}</td>
                        <td id="description"style="width: 300px;">{{this.Description}}</td>
                        <td>{{this.Score}}</td>
                        <td id="date">{{this.Date}}</td>
                        <td>
                            {{#if this.Submitted}}
                            <form style="display: flex; flex-direction:row; justify-content:space-between; width:400px;"   action="/assignment/remove" method="get">
                                <input type="hidden" name="file" value="{{this.submitted_file_name}}">
                                <a href="/assignment/view?file={{this.submitted_file_name}}">{{this.submitted_file_name}}</a>
                                {{#if this.Reviewed}}
                                <button style ="width:70px" type="submit" id="remove" disabled>
                                    Remove
                                </button>
                                {{else }}
                                <button style ="width:70px" type="submit" id="remove" >
                                    Remove
                                </button>
                                {{/if}}
                                
                            </form>
                            {{else }}
                            <form style="display: flex; flex-direction:row; justify-content:space-between;width:400px;" action="/assignment/upload" method="post" encType="multipart/form-data">
                                <input type="hidden" name="title" value="{{this.Title}}">
                                <input type="file" id="file1" name="file1" value="">
                                <button style ="width:70px" type="submit" id="upload" style="display:inline;">
                                    Upload
                                </button>
                            </form>
                            {{/if}}
                        </td>
                        <td>
                            {{#if this.Reviewed}}
                                <span style="text-align: center; width:70px">{{this.Graded_Score}}</span>
                            {{else }}
                                <span style="text-align: center; width:70px">Not Reveiwed</span>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}    
                
                </table>
            
            </div>
        
        </div>
    
    </div>

    {{>footer}}

</body>

</html>