<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>

</head>

<body>

    {{>inheader}}
    
    <div class="form-area col-lg-12" >
    
        <div class=" col-lg-11">
    
            <h4 class="col-lg-12" style="text-align: center;">{{message}}</h4>
    
            <div id="assignments" style="height: 300px;">
    
                <table>
    
                    <tr>
                        <th>Email</th>
                        <th>submitted_date</th>
                        <th>submitted_file</th>
                        <th>Graded_score</th>
                    </tr>
    
                    {{#each data}}
                    <tr>
                        <td>{{this.Email}}</td>
                        {{#if this.Submitted}}
                        <td>{{this.Submit_Date}}</td>
                        <td><a href="/assignment/view?file={{this.submitted_file_name}}">{{this.submitted_file_name}}</td>
                        {{else}}
                        <td>Not Submitted</td>
                        <td>Not Submitted</td>
                        {{/if}}
                        <td style="display:flex; flex-direction:row ">
                            <form action="/assignment/review" method="post" style="margin-right: 5px;">
                                <input type="hidden" id="email" name="email" value="{{this.Email}}">
                                <input type="hidden" id="title" name="title" value="{{this.Title}}">
                                <input type="hidden" id="score" name="score" value="{{this.Score}}">
                                <input type="number" id="graded_score" name="graded_score" value="{{this.Graded_Score}}" placeholder="Total Score - {{this.Score}}">
                                <button type="submit" style="margin-bottom:5px"class="btn btn-primary"> Reviewed</button>
                            </form>
                            
                        </td>
                    </tr>
                    {{/each}}    
    
                </table>      
    
            </div>
    
        </div>
    
    </div>

    {{>footer}}
    
</body>

</html>