<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignments</title>

</head>
<body>

    {{>inheader}}
    
    <div class="form-area col-lg-12" >

        <div class=" col-lg-9" style="">

            <h4 class="col-lg-12" style="text-align: center;">{{title}}</h4>
            
            <div id="assignments" >
                <table>

                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Score</th>
                        <th>action</th>
                        <th>Due-Date</th>
                    </tr>

                    {{#each data}}
                    <tr>
                        <td><a href="/assignment/submitted?title={{this.Title}}">{{this.Title}}</a></td>
                        <td id="description">{{this.Description}}</td>
                        <td>{{this.Score}}</td>
                        <td style="display:flex; flex-direction:row ">
                            <form action="/assignment/edit" method="post" style="margin-right: 5px;">
                                <input type="hidden" id="title" name="title" value="{{this.Title}}">
                                <button type="submit" style="margin-bottom:5px"class="btn btn-primary">
                                    Edit
                                </button>
                            </form>
                            <form action="/assignment/delete">
                                <input type="hidden" id="title" name="title" value="{{this.Title}}">
                                <button type="submit" class="btn btn-primary">Delete</button>
                            </form>
                        </td>
                        <th id="date">{{this.Date}}</th>
                    </tr>
                    {{/each}}  

                    <tr>
                        <td colspan="5" style="display: flex; flex-direction:row; justify-content:center">
                            <button type="submit"class="btn btn-primary">
                                <a href="/assignment/add" style="color: white; text-decoration:none;">Add</a>
                            </button>
                        </td>
                    </tr>

                </table>
                     
            </div>

        </div>

    </div>

    {{>footer}}
    
</body>

</html>